* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Gadugi', sans-serif;
}

body {
    background-color: #313131;
    color: #fff;
    font-size: 1.5rem;
}

a {
    color: #aaa;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 80rem;
    margin: 2rem auto;
}

.special-text {
    font-family: 'Paytone One';
    font-weight: 500;
}

.special-text * {
    font-family: 'Paytone One';
    font-weight: 500;
}

#navbar {
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
}

#link-container {
    display: flex;
}

#links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    vertical-align: auto;
    width: 4rem;
    margin: 0 0.5rem;
}

.link img {
    margin: 0 auto;
}

.link h6 {
    visibility: hidden;
    font-size: 1rem;
    white-space: nowrap;
    float: left;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.link:hover h6 {
    visibility: visible;
}

#select-hritik {
    font-size: 2.25rem;
    margin: auto 1.5rem auto 0;
    padding: 0 0 2rem 0;
}

#details {
    margin: auto 0;
    padding: 0 0 1rem 0;
    display: flex;
}

#details * {
    font-size: 1.15rem;
    width: 1.75rem;
    margin-right: 1rem;
}

.social-link:hover {
    transform: translateY(-15%);
}

h1 {
    font-size: 4rem;
    margin: 0;
}

h3 {
    font-size: 2.5rem;
    margin: 0;
}

#about {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

#hero-image-section {
    margin-left: 0.5rem;
}

#abilities {
    width: 35%;
}

#ability-list {
    column-count: 2;
    column-width: 50%;
}

#blurb {
    margin-left: 0.5rem;
    width: 42.5%;
}

.grey-text {
    color: #686868;
}

#projects-header {
    color: #686868;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto 1rem auto;
}

#project-list {
    column-count: 2;
    column-width: 50%;
}

.project-card {
    display: inline-block;
    background-color: #3d3d3d;
    margin: 0.75rem 0;
    width: 100%;
    padding: 1.5rem 2.5rem 2.5rem 2.5rem;
    border-radius: 1rem;
}

.project-card nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.project-title {
    font-size: 2.25rem;
}

.project-date {
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0.5rem 0 0 0;
}

.project-skill {
    font-weight: 600;
    display: inline;
    list-style: none;
    font-size: 1.15rem;
    margin-right: 1rem;
}

.project-card p {
    margin-top: 1rem;
}

.image-scroll {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

.image-scroll img {
    max-width: 100%;
    max-height: 25rem;
    flex-shrink: 0;
    margin: 0 1rem;
    scroll-snap-align: start;
    scroll-behavior: smooth;
}

.image-scroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.image-scroll::-webkit-scrollbar-thumb {
    background: #686868;
    border-radius: 10px;
}

.image-scroll::-webkit-scrollbar-track {
    background: transparent;
}

@media screen and (max-width: 800px) {
    body {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .container {
        width: 85%;
    }

    #navbar {
        margin: 1rem auto;
        display: block;
    }
    
    #link-container {
        display: unset;
    }

    #links {
        margin: 0;
        justify-content: space-around;
    }

    .link {
        width: 3rem;
    }

    .link img {
        margin: 0 auto;
        width: 3rem;
    }

    .link h6 {
        visibility: hidden;
        font-size: 0.8rem;
        white-space: nowrap;
        float: left;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .link:hover h6 {
        visibility: visible;
    }

    #select-hritik {
        width: fit-content;
        width: -moz-fit-content;
        font-size: 1.25rem;
        margin: 0 auto;
        padding: 0 0 1rem 0;
    }

    #details {
        width: fit-content;
        width: -moz-fit-content;
        margin: auto auto;
        padding: 0.5rem 0 0 0;
        display: flex;
    }

    #details * {
        font-size: 1.15rem;
        width: 1.25rem;
        margin-right: 0.75rem;
    }

    #about-character h1 {
        text-align: center;
    }
    
    #hero-image-section {
        width: fit-content;
        margin: 0 auto;
    }

    #hero-image-section img {
        width: fit-content;
        margin: 0 auto;
    }

    #about {
        margin-top: 1rem;
        display: block;
    }

    #abilities {
        width: 100%;
    }
    
    #blurb {
        margin-left: 0;
        width: 100%;
    }
    
    #project-list {
        column-count: 1;
        column-width: 100%;
    }

    .project-card {
        padding: 1.0rem 1.5rem 1.5rem 1.5rem;
        border-radius: 0.75rem;
    }

    .project-title {
        font-size: 1.5rem;
    }

    .project-skill {
        font-size: 0.75rem;
    }

    .project-date {
        font-size: 0.7rem;
    }
}